<form action="/" method="post">
<div class="row">
  <div class="six columns">
    <input type="date" name="date" value="" placeholder="dd/mm/yyyy">
  </div>
  <div class="six columns">
    <input type="button" name="today" value="uh... today!">
  </div>
</div>
<div class="row">
  <div class="six columns">
    <input type="number" class="u-full-width" name="cost" value="" placeholder="cost per day">
  </div>
  <div class="six columns">
    <%= erb :buttons %>
  </div>
</div>
<div class="row">
  <div class="six columns">
    <input type="number" class="u-full-width" name="charge" value="" placeholder="amount">
  </div>
  <div class="six columns">
    <%= erb :buttons %>
  </div>
</div>
<div class="row center">
  <% [:sunday, :monday, :tuesday, :wednesday].each do |day| %>
    <div class="three columns">
      <% checked, active_week = (day != :sunday ) ? [' checked ', ' button-primary'] : ['',''] %>
      <label for="<%= day %>" class="button<%= active_week %>"><%= day %></label>
      <input id="<%= day %>" class="hidden" type="checkbox" <%= checked %> name="week_day" value="<%= day %>">
    </div>
  <% end %>
</div>
<div class="row center">
  <% [:thursday, :friday, :saturday].each do |day| %>
    <div class="four columns">
      <% checked, active_week = (day != :saturday ) ? [' checked ', ' button-primary'] : ['',''] %>
      <label for="<%= day %>" class="button<%= active_week %>"><%= day %></label>
      <input id="<%= day %>" class="hidden" type="checkbox" <%= checked %> name="week_day" value="<%= day %>">
    </div>
  <% end %>
</div>
<div class="row center">
  <div class="twelve columns">
    <input type="submit" value="Show me when!">
  </div>
</div>

</form>

<div>
  <span>
    <%= @result if @result %>
  </span>
</div>
