<form action="/" method="post">
<div class="row">
  <div class="twelve columns">
    <input type="text" name="date" value="" placeholder="dd/mm/yyyy" />
  </div>
</div>
<div class="row">
  <div class="six columns">
    <input type="text" name="cost" value="" placeholder="cost per day" />
  </div>
  <div class="six columns">
    <%= erb :buttons %>
  </div>
</div>
<div class="row">
  <div class="six columns">
    <input type="text" name="charge" value="" placeholder="amount" />
  </div>
  <div class="six columns">
    <%= erb :buttons %>
  </div>
</div>
<div class="row">
  <% [:sunday, :monday, :tuesday, :wednesday].each do |day| %>
    <div class="three columns">
      <label for="<%= day %>" class="button"><%= day %></label>
      <input id="<%= day %>" class="hidden" type="checkbox" name="week_day" value="<%= day %>" />
    </div>
  <% end %>
</div>
<div class="row">
  <% [:thursday, :friday, :saturgday].each do |day| %>
    <div class="four columns">
      <label for="<%= day %>" class="button"><%= day %></label>
      <input id="<%= day %>" class="hidden" type="checkbox" name="week_day" value="<%= day %>" />
    </div>
  <% end %>
</div>
    <input type="submit" value="Show me when!">
</div>

</form>

<div>
  <span>
    <%= @result if @result %>
  </span>
</div>
